@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #c5c6c7;
    background-color: #0b0c10;
}

/* ------------- Site wide  ----------- Colours */

.site-colour {
    background-color: #222222;
}

.selected:before {
    color: #66fcf1;
}


.social i:hover {
    color: #45a29e;
}

header {
   background-color: #1f2833;
}



/* ------------- Site wide  ----------- Special paddings/margins/text -----*/
h1,
h2,
h3,
h5 {
   margin: 0;
}
 
h1 {
   font-size: 24px;
   padding: 25px 0px 10px 15px;
   font-weight: 600;
}
 
h2 {
   font-size: 21px;
   font-weight: 500;
   color: #45a29e;
   padding: 10px 0px;
}
 
h3 {
   font-size: 17px;
   padding: 3px;
   color: #45a29e;
}
 
h5 {
   font-size: 14px;
   color: #c5c6c7;
}



p {
    font-size: 15px;
    font-weight: 200;
}



.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    padding-top: 10px;
}

.center {
    margin: 0px auto;
    text-align: center;
}

.trading-background {
   clear: left;
   background: url("../images/background.jpg");
   background-size: cover;
   background-position: center;
}

 /* ------------- Site wide  ----------- Hover.css */
 
.hvr-underline-from-center:before {
    background-color: #66fcf1;
 }
 
 .main-menucontainer {
   font-size: 0;
}

 .list-inline-item:not(:last-child) {
   margin: 0;
}

.space {
   padding: 10px;
}
/* ------------- Media Queries  ----------- Everything except Mobile size screen */

@media only screen and (min-width: 576px) {



     #main-nav {
        z-index: 1;
     }
      
     #main-nav li {
        font-size: 14px;
        padding: 0px;
     }
      
     .main-menuitem {
        height: 80px;
        padding: 0;
        text-align: center;
     }
      
     .main-menuitem a {
        width: 100%;
        text-decoration: none;
        color: #c5c6c7;
        height: 80px;
     }
      
     .main-menuitem a i {
        padding-top: 18px;
        display: block;
        color: #c5c6c7;
        font-size: 22px;
     }
      
     .main-menuitem a span {
        display: block;
        width: 100%;
        padding-top: 6px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 3px;
     }
    

}

/* ------------- Media Queries  ----------- Mobile only */

@media only screen and (max-width: 576px) {
    



   #logo img {
      padding-top: 0px;
      width: 70px;
      height: 35px;
   }

   .col-3 {
      max-width: 23%;
   }
    
   #mobile-nav {
      z-index: 1;
   }
    
   #mobile-nav li {
      font-size: 14px;
      padding: 0px;
   }
    
   .mobile-menuitem {
      height: 40px;
      padding: 0;
      text-align: center;
   }
    
   .mobile-menuitem a {
      width: 100%;
      text-decoration: none;
      color: #c5c6c7;
      height: 40px;
   }
    
   .mobile-menuitem a i {
      display: block;
      color: #c5c6c7;
      font-size: 22px;
   }
    

}

/* ------------- Site wide  ----------- Footer */

footer {
    background-color: #1f2833;
    color: #c5c6c7;
    padding-top: 10px;
}

footer p {
    font-size: 14px;
    color: #c5c6c7;
}

.footer-icon i {
    font-size: 25px;
    color: #c5c6c7;
    text-align: center;
    padding: 7px 20px;
    width: 80px;
 }
 
 .fees p {
    margin-bottom: 0px;
 }

 .fees .title {
   margin-bottom: 0px;
}



/* ------------- contact.html ------------ Contact Form */

.contact-form {
   margin-top: 35px;
   color: #c5c6c7;
   background: #1f2833;
   
   padding: 30px;
   width: 90%;
}


.contact-form-item {
   margin-bottom: 10px;
   display: block;
   clear: both;
}

.contact-form-title {
   margin-bottom: 10px;
   display: block;
   clear: both;
   font-weight: 400;
}

.contact-form-item .key,
.contact-form-item .value {
   padding-right: 8px;
   display: inline-block;
}

.contact-form-item .key p,
.contact-form-item .value p {
   margin: 0;
   font-size: 14px;
}

.contact-form-item .key {
   width: 20%;
   margin-right: 19px;
   margin-top: 2px;
   vertical-align: top;
}

.contact-form-item .key p {
   font-weight: 400;
}

.contact-form-item .value {
   position: relative;
   width: 70%;
}

.contact-form-item .left-option {
   width: 48%;
   margin-right: 19px;
   margin-top: 2px;
   vertical-align: top;
}

.contact-form-item .right-option {
   position: relative;
   width: 48%;
}

.custom-control-input:checked~.custom-control-label::before {
   border-color: #45a29e;
   background-color: #66fcf1;
}

.custom-control-label::before {
   border-radius: 30%;
}

.custom-control-label::before {
   left: 5px;
}

.custom-control-label {
   padding-left: 35px;
}

.form-control {
   height: calc(18px + 0.75rem + 2px);
   background-color: #79b4b7;
}

button[type="submit"] {
   margin-top: 15px;
   margin-bottom: 20px;
   color: #f8f0df;
   font-weight: 500;
   width: 40%;
   background-color: rgb(95, 142, 145);
}

.input {
   width: 50%;
}

/* ------------- Align Icon and text links ------------  */

.options-form {
   color: #fff;
   padding: 10px;
   width: 100%;
}
.options-form-item-half {
   border: 1px solid #504e4f;
   background: rgba(66, 64, 64, 0.3);
   display: inline-block;
   height: 100px;
   width: 49%;
   padding: 5px;
   margin-bottom: 10px;
   
}

.options-form-item-full {
   width: 100%;
   border: 1px solid #504e4f;
   background: rgba(66, 64, 64, 0.3);
   margin-bottom: 10px;
   padding: 6px;
}

.options-form-item-third {
   width: 32%;
   border: 1px solid #504e4f;
   background: rgba(66, 64, 64, 0.3);
   margin-bottom: 10px;
   display: inline-block;
}

.title{
   padding: 5px;
   display: inline-block;
}
.info{
   padding: 5px;
   display: inline-block;
}

.value{
   padding: 5px;
   display: inline-block;
}
.range-slider{
   padding: 5px;
   display: inline-block;
}
.input{
   padding: 5px;
}

.options-form label {
   font-size: 17px;
   font-weight: 100;
}

/* ------------- Group Buttons from https://www.w3schools.com/ ------------  */
.time-group button {
  background-color: #45a29e;
  border: 1px solid #66fcf1;
  color: #f8f0df;
  padding: 5px 5px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 50px;
}

.time-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.time-group:after {
  content: "";
  clear: both;
  display: table;
}

.time-group {
   margin: 0px 14px;
}

/* Add a background color on hover */
.time-group button:hover {
  background-color: #45a29e;
}

/* ------------- Align Icon and text links ------------  */


 .more-info {
   padding: 10px;
   margin: auto;
 }

 .more-info a {
   color: #999999;
   text-decoration: none;
   margin: auto;
}
 
.more-info a i {
   font-size: 22px;
   padding: 10px;
}

.more-info span {
   vertical-align: middle;
}

.more-info i:hover {
   color: #2867b2;
}

/* ------------- Align Icon and text links ------------  */


.tech-info {
   margin: auto;
   background-color: rgba(51, 47, 47, 0.5);
   padding: 0px 10px;
   border-bottom: 1px solid #2c2a2a; 
 }

 .tech-info a {
   color: #999999;
   text-decoration: none;
   
}

.tech-info p {
   padding: 2px;
   margin-bottom: 0px;
}

.tech-info a i {
   font-size: 18px;
   padding: 4px 10px;
}

.tech-info span {
   vertical-align: middle;
}

.tech-info i:hover {
   color: #2867b2;
}

/* ------------- Trade option ------------  */

.options p {
   color: #f8f0df;
}




/* ------------- w3schools ------------  */


 
 .slider {
   -webkit-appearance: none;
   width: 90%;
   height: 1px;
   border-radius: 5px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
 }
 
 .slider:hover {
   opacity: 1;
 }
 
 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #79b4b7;
   cursor: pointer;
 }
 
 .slider::-moz-range-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #79b4b7;
   cursor: pointer;
 }

/* ------------- w3schools --------- https://markheath.net/post/customize-radio-button-css ---  */
.radio-toolbar {
   margin: 10px;
 }
 
 .radio-toolbar input[type="radio"] {
   opacity: 0;
   position: fixed;
   width: 0;
 }
 
 .radio-toolbar label {
     display: inline-block;
     background-color: #444;
     padding: 7px 18px;
     font-size: 16px;
     border: 2px solid #ddd;
     border-radius: 4px;
 }
 
 .radio-toolbar label:hover {
   background-color: #dfd;
 }
 
 .radio-toolbar input[type="radio"]:focus + label {
     border: 2px dashed #444;
 }
 
 .radio-toolbar input[type="radio"]:checked + label {
     background-color: #79b4b7;
     border-color: #2b7578
 }
