@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #999999;
    background-color: #131313;
}

/* ------------- Site wide  ----------- Colours */

.site-colour {
    background-color: #222222;
}

.selected:before {
    color: #3b3b38;
}


.social i:hover {
    color: #2867b2;
}

/* ------------- Site wide  ----------- Special paddings/margins/text -----*/



p {
    font-size: 15px;
    font-weight: 200;
}

.col {
    padding-right: 15px;
    padding-left: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
    padding-top: 10px;
}

.center {
    margin: 0px auto;
    text-align: center;
}

/* ------------- Site wide  ----------- Header */
 
header {
    background-color: #222222;
}

.name-inner {
    text-transform: uppercase;
    font-size: 24px;
    padding: 24px 28px 14px 28px;
    text-align: center;
    color: #999999;
 }
  
 .list-inline-item:not(:last-child) {
    margin: 0;
 }
  
 .menucontainer {
    font-size: 0;
 }
  
 #nav {
    z-index: 1;
 }
  
 #nav li {
    font-size: 14px;
    padding: 0px;
 }
  
 .menuitem {
    height: 80px;
    padding: 0;
    text-align: center;
 }
  
 .menuitem a {
    width: 100%;
    text-decoration: none;
    color: #999999;
    height: 80px;
 }
  
 .menuitem a i {
    padding-top: 18px;
    display: block;
    color: #999999;
    font-size: 22px;
 }
  
 .menuitem a span {
    display: block;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
 }

 /* ------------- Site wide  ----------- Hover.css */
 
.hvr-underline-from-center:before {
    background-color: #0795d6;
 }
 


/* ------------- Site wide  ----------- Footer */

footer {
    background-color: #222222;
    color: #999999;
    padding-top: 10px;
}

footer p {
    font-size: 14px;
    color: #999999;
}

.footer-icon i {
    font-size: 25px;
    color: #999999;
    text-align: center;
    padding: 7px 20px;
    width: 80px;
 }
 

